"*":
  "atom-beautify":
    _analyticsUserId: "8efd8466-162a-424a-8e32-50de7c7fd67a"
  "autocomplete-plus":
    fileBlacklist: [
      "*.md"
    ]
  "autocomplete-plus-python-jedi":
    completeArguments: false
  "autocomplete-python": {}
  core:
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      "*.pyc"
      ".idea"
      "._*"
    ]
    projectHome: "~/Code"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Anonymous Pro"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "ff16a854-9245-e5f5-f583-8f8d80213bac"
  "highlight-selected": {}
  linter:
    ignoreMatchedFiles: "*.md"
    lintOnChange: false
    statusBar: "Show all errors"
    subtleLinterErrors: [
      "pylint"
    ]
  "linter-pylint":
    executable: "/usr/local/bin/pylint"
  "markdown-preview": {}
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    enablePandoc: true
    pandocArguments: [
      "-V geometry:margin=1in --standalone -s"
    ]
    pandocPath: "/usr/local/bin/pandoc"
    useGitHubStyle: true
  "merge-conflicts": {}
  "one-dark-ui": {}
  pandoc: {}
  "python-indent": {}
  racer:
    racerBinPath: "/Users/pedro/Code/racer/target/release/racer"
    rustSrcPath: "/Users/pedro/Code/rust/src"
  softTabs: true
  term2: {}
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
".console.python.text":
  editor:
    preferredLineLength: 100
    tabLength: 4
".dockerfile.source":
  editor:
    preferredLineLength: 100
".gfm.source":
  editor:
    preferredLineLength: 120
    tabLength: 2
".python.regexp.source":
  editor:
    preferredLineLength: 100
".python.source":
  editor:
    preferredLineLength: 100
    softWrapAtPreferredLineLength: true
".python.text.traceback":
  editor:
    preferredLineLength: 100
    tabLength: 4
".source.yaml":
  editor:
    preferredLineLength: 100
    showInvisibles: false
    tabLength: 2
