packages: [
  "atom-beautify"
  "autocomplete-plus-python-jedi"
  "ex-mode"
  "highlight-selected"
  "language-docker"
  "language-nginx"
  "linter"
  "linter-pylint"
  "merge-conflicts"
  "monokai"
  "package-sync"
  "script"
  "term2"
  "tool-bar"
  "tool-bar-main"
  "vim-mode"
]
